<div class="wrap"> 
    <div class="total">
     <div class="header">
       <div class="header-bot">
         <div class="logo">
           <a href="/"><img src="../assets/images/logo.png" alt=""/></a>
         </div>
         <div class="f-right">
           <p class="welcome-msg">Welcome to our online store! </p>
           <div class="clear"></div>
         <div class="clear"></div> 
       </div>
     </div>	
     <div class="header_bottom">
         <div class="menu">
              <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="specials">Specials</a></li>
               <li><a href="contact">Contact</a></li>
               <li><a href="login">LogIn</a></li>
               <div class="clear"></div>
              </ul>
           </div>
           
          <div class="clear"></div>
        </div>
        <div class="mian">

<!-- Content -->
<router-outlet>
  
</router-outlet>

<!-- Footer -->
</div>
</div>
</div>

<div class="gallery">
    <a target="_blank" href="../assets/images/img5.jpg">
      <img src="../assets/images/img5.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">BMW</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../assets/images/img2.png">
      <img src="../assets/images/img2.png" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">VOLVO</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../assets/images/img3.jpg">
      <img src="../assets/images/img3.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">CAMARO</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../assets/images/img4.jpg">
      <img src="../assets/images/img4.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">AUDI</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../assets/images/img5.jpg">
      <img src="../assets/images/img5.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">BMW</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../assets/images/img6.jpg">
      <img src="../assets/images/img6.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">JAGUAR</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../assets/images/img7.jpg">
      <img src="../assets/images/img7.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">RANGE ROVER</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../assets/images/img8.png">
      <img src="../assets/images/img8.png" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">BMW</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../assets/images/img1.jpg">
      <img src="../assets/images/img1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">RENAULT</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../assets/images/img9.jpg">
      <img src="../assets/images/img9.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">AUDI</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../assets/images/img10.jpg">
      <img src="../assets/images/img10.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">BMW</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../assets/images/img11.jpg">
      <img src="../assets/images/img11.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">BMW</div>
  </div>
  <div class="header" [ngStyle]="{'background-image': 'url(' + item.featured_image + ')'}">
      <img src="../assets/images/img11.jpg" alt="Girl in a jacket"> 
  </div>