<div class="wrap"> 
    <div class="total">
     <div class="header">
       <div class="header-bot">
         <div class="logo">
           <a href="/"><img src="../assets/images/logo.png" alt=""/></a>
         </div>
         <div class="f-right">
           <p class="welcome-msg">Welcome to our online store! </p>
           <div class="clear"></div>
         <div class="clear"></div> 
       </div>
     </div>	
     <div class="header_bottom">
         <div class="menu">
              <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/car-page">About</a></li>
                <li><a href="specials.html">Specials</a></li>
               <li><a href="contact.html">Contact</a></li>
               <li><a href="Log In">Log In</a></li>
               <div class="clear"></div>
              </ul>
           </div>
           
          <div class="clear"></div>
        </div>
     <div class="mian">

<!-- Content -->
<router-outlet></router-outlet>

<!-- Footer -->
</div>
</div>
</div>